<footer class="footer footer__section container">

  <div class="footer__content section__content footer__grid">
    <div>
      <p class="footer__slogan">Un aliado experto en bienestar empresarial y salud ocupacional</p>
      <div class="footer__icons">
        <img src="../assets/images/icons/facebook.png" alt="">
        <img src="../assets/images/icons/youtube.png" alt="">
        <img src="../assets/images/icons/instagram.png" alt="">
        <img src="../assets/images/icons/linkedin.png" alt="">
      </div>
    </div>
    <ul class="footer__nav__list">
      <li href="" class="nav__link">Para Personas</li>
      <li href="" class="nav__link">Para Empresas</li>
      <li href="" class="nav__link">Sobre nosotros</li>
      <li href="" class="nav__link">Protección de Datos</li>
    </ul>
    <div class="footer__info-contact">
      <div class="info__contact">
        <i class="ri-map-pin-line"></i>
        <span class="footer-nav-link">Av. Cra. 30 No. 67 - 59 Costado Occidental Bogotá, Colombia</span>
      </div>
      <div class="info__contact">
        <i class="ri-mail-line"></i>
        <span class="footer-nav-link">info@comerbas.com</span>
      </div>
      <div class="info__contact">
        <i class="ri-phone-line"></i>
        <span class="footer-nav-link">PBX: (1) 4437750</span>
      </div>
    </div>
  </div>
  <div>
    <p class="footer__rights">COMERBAS S.A.S, 2025</p>
  </div>

</footer>