
<header class="header" id="header">
  <nav class="nav nav__container">
    <div  class="nav__logo">
      <a href="index.html">
        <img src="images/company-logo.png" alt="Logo Comerbas" class="logo" loading="lazy">
      </a>
    </div>
    <div class="nav__menu js-nav__menu" id="nav-menu">
      <div class="nav__list">
        <p class="nav__link nav__link-desktop js-nav__link active-link">Para Personas</p>
        <p class="nav__link nav__link-desktop js-nav__link">Para Empresas</p>
        <p class="nav__link nav__link-desktop js-nav__link">IPS</p>
        <p class="nav__link nav__link-desktop js-nav__link">Sobre nosotros</p>
      </div>

       <!--Servicios en linea-->
      <div class="online-services-button js-online-services" id="online_services">
        <i class="ri-device-line"></i>
        <span>Servicios en Linea</span>
      </div>

      <div class="nav__menu-button">
        <a class="nav__link button button--menu js-button-menu">
          <i class="ri-handbag-line js-ri-handbag-line"></i>
          <span class="js-text-button">Tienda en línea Comerbas</span>
        </a>
      </div>

      <!--Close button-->
      <div class="nav__close" id="nav-close">
        <span>Cerrar</span>
        <i class="ri-close-large-line"></i>
      </div>

    </div>

    <!--Toggle menu-->
    <div class="nav__toggle" id="nav-toggle">
      <span>Menú</span>
      <i class="ri-menu-line"></i>
    </div>

  </nav>

   <!--Dropdown menu Empresas-->
  <div class="dropdown__container dropdown__container-desktop" id="nav-drop">
    <div class="dropdown__content">
      <div class="dropdown__group">
        <span class="dropdown__title">Certificados de salud ocupacional</span>
        <p class="dropdown__paragraph">Descarga los resultados y certificados de los exámenes de salud ocupacional.</p>
        <a href="https://ipscomerbas.isismaweb.com/app/e3portal/" class="button dropdown__button" target="_blank" rel="noopener">
            Ir a resultados
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <div class="dropdown__group">
        <span class="dropdown__title">Certificados para empresas</span>
        <p class="dropdown__paragraph">Descarga certificados:</p>
        <ul class="dropdown__list">
          <li>Psicofísicos</li>
          <li>Psicosensométricos</li>
          <li>Armas</li>
        </ul>
        <a href="https://gestdoc2.comerbas.com/" class="button dropdown__button" target="_blank" rel="noopener">
            Ir a certificados
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <div class="dropdown__group2">
        <span class="dropdown__title">Gestión de créditos</span>
        <p class="dropdown__paragraph">Gestiona la aprobación de créditos de tus empleados</p>
        <a href="https://creditmanager.comerbas.com/" class="button dropdown__button" target="_blank" rel="noopener">
            Ir a créditos
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <div class="dropdown__group2">
        <span class="dropdown__title">Pagos PSE</span>
        <p class="dropdown__paragraph">Realiza tus pagos de manera rápida y sencilla.</p>
        <a href="https://www.avalpaycenter.com/wps/portal/portal-de-pagos/web/pagos-aval/resultado-busqueda/realizar-pago?idConv=00020971&origen=buscar&login=temporal&bancaEmpresarial=false" class="button dropdown__button" target="_blank" rel="noopener">
            Ir a pagar
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>
    </div>
  </div>


     <!--Dropdown menu Home-->
  <div class="dropdown__container dropdown__container2 dropdown__container-desktop" id="nav-drop2">
    <div class="dropdown__content">
      <div class="dropdown__group">
        <span class="dropdown__title">Creditos</span>
        <p class="dropdown__paragraph">Cumple tus sueños.</p>
        <a href="https://creditrequest.comerbas.com/" class="button dropdown__button" target="_blank" rel="noopener">
            Solicitar
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <div class="dropdown__group">
        <span class="dropdown__title">Planes exequiales</span>
        <p class="dropdown__paragraph">Protege a tu familia</p>
        <a href="https://losolivosbogota.com/sites/salas/consulta/cedula.php" class="button dropdown__button2" target="_blank">
            Obtener certificado
          <i class="ri-arrow-right-line"></i>
        </a>
        <a href="#contact-form" class="button dropdown__button">
            Solicitar
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <div class="dropdown__group">
        <span class="dropdown__title">Telemedicina</span>
        <p class="dropdown__paragraph">Protección a toda hora</p>
        <a href="" class="button dropdown__button2" target="_blank">
            Agendar citas
          <i class="ri-arrow-right-line"></i>
        </a>
        <a href="#contact-form" class="button dropdown__button">
            Solicitar
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>

      <div class="dropdown__group">
        <span class="dropdown__title">Bonos de mercado</span>
        <p class="dropdown__paragraph">Una ayuda para tu mercado.</p>
        <a href="#contact-form" class="button dropdown__button">
            Solicitar
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>
    </div>
  </div>

 </header>