
<header class="header" id="header">
  <nav class="nav nav__container">
    <div  class="nav__logo">
      <a href="">
        <img src="/images/company-logo.png" alt="image" class="logo">
      </a>
    </div>
    <div class="nav__menu" id="nav-menu">
      <div class="nav__list">
        <p class="nav__link nav__link-desktop js-nav__link active-link">Para Personas</p>
        <p class="nav__link nav__link-desktop js-nav__link">Para Empresas</p>
        <p class="nav__link nav__link-desktop js-nav__link">IPS</p>
        <p class="nav__link nav__link-desktop js-nav__link">Sobre nosotros</p>
      </div>
      <div class="nav__menu-button">
        <a class="nav__link button button--menu js-button-menu">
          <i class="ri-handbag-line js-ri-handbag-line"></i>
          <span class="js-text-button">Tienda en línea Comerbas</span>
        </a>
      </div>

      <!--Close button-->
      <div class="nav__close" id="nav-close">
        <span>Cerrar</span>
        <i class="ri-close-large-line"></i>
      </div>

    </div>

    <!--Toggle menu-->
    <div class="nav__toggle" id="nav-toggle">
      <span>Menú</span>
      <i class="ri-menu-line"></i>
    </div>

  </nav>

   <!--Dropdown menu-->
  <div class="dropdown__container dropdown__container-desktop" id="nav-drop">
    <div class="dropdown__content">
      <div class="dropdown__group">
        <span class="dropdown__title">Certificados de salud ocupacional</span>
        <p class="dropdown__paragraph">Descarga los resultados y certificados de los exámenes de salud ocupacional.</p>
        <button type="submit" class="button dropdown__button">
            Ir a resultados
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>

      <div class="dropdown__group">
        <span class="dropdown__title">Certificados para empresas</span>
        <p class="dropdown__paragraph">Descarga certificados:</p>
        <ul class="dropdown__list">
          <li>Psicofísicos</li>
          <li>Psicosensométricos</li>
          <li>Armas</li>
        </ul>
        <button type="submit" class="button dropdown__button">
            Ir a certificados
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>

      <div class="dropdown__group">
        <span class="dropdown__title">Gestión de créditos</span>
        <p class="dropdown__paragraph">Gestiona la aprobación de créditos de tus empleados</p>
        <button type="submit" class="button dropdown__button">
            Ir a créditos
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>

      <div class="dropdown__group">
        <span class="dropdown__title">Pagos PSE</span>
        <p class="dropdown__paragraph">Realiza tus pagos de manera rápida y sencilla.</p>
        <button type="submit" class="button dropdown__button">
            Ir a pagar
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>
  </div>

 </header>