<section class="appliances section section-component">

      <div class="appliaces-container why-nosotros section__content grid">
          <div class="tab-image-container psicologia">
            <img src="images/testimonials/testimonial-why-choose.webp" alt="" class="section-image">
          </div>
          <div class="tab-info-container psicologia">
            <h2 class="section__subtitle-tabs ips js-section-title">¿Por qué elegirnos?</h2>
            <p class="js-section-paragraph ips">En Comerbas, no solo cuidamos de tus colaboradores, potenciamos su bienestar para impulsar el crecimiento de tu organización.
             Conectamos salud, bienestar y soluciones financieras en un solo lugar. Tu empresa logra más, invirtiendo menos.
            <strong>Más que un proveedor, somos tu socio estratégico.</strong></p>
            <ul class="tab__nav-list ips">
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Bienestar integral 360°: </strong>Combinamos servicios médicos, psicológicos, financieros y de calidad de vida para mejorar la salud física, mental y económica de tu equipo.</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Cero costos operativos: </strong>Ofrecemos beneficios de alto impacto sin generar cargas para tu empresa.</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Atención especializada: </strong>Nuestro equipo está conformado por profesionales certificados y con experiencia en salud ocupacional y medicina laboral.</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Alta satisfacción comprobada: </strong>Más de una década respaldando a empresas que hoy nos recomiendan por los resultados obtenidos.</span>
              </li>
            </ul>
            <div class="container-button-ips">
              <a href="#contact-form" class="button button--services ips">
                <span class="js-section-button">¿Estás listo para ser parte del cambio?</span>
                <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          
          </div>
      </div>
    </section>