<section class="appliances section section-component">

      <div class="appliaces-container psicologia-ips section__content grid">
          <div class="tab-image-container psicologia">
            <img src="images/testimonials/testimonial-why-choose.png" alt="" class="section-image">
          </div>
          <div class="tab-info-container psicologia">
            <h2 class="section__subtitle-tabs ips js-section-title">¿Por qué elegirnos?</h2>
            <p class="js-section-paragraph ips">10 años de experiencia en salud ocupacional y 98% de satisfacción en nuestros clientes. Más 25,000 Evaluaciones realizadas anualmente.</p>
            <ul class="tab__nav-list ips">
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Respaldo profesional: </strong>Equipo médico especializado en salud ocupacional</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Tecnología avanzada: </strong>Equipos de última generación para evaluaciones precisas</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Reportes detallados: </strong>Informes completos con recomendaciones específicas</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Atención ágil: </strong>Programación de citas sin largas esperas</span>
              </li>
            </ul>
            <div class="container-button-ips">
              <a href="nosotros.html" class="button button--services ips">
                <span class="js-section-button">Más sobre nosotros</span>
                <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          </div>
      </div>
    </section>