<section class="section medical__tests">

  <div class="medical__tests-container section__content-tests grid">
    <div class="medical__tests-info">
      <h2 class="section__title empresas medical__tests-title js-section-title"></h2>
      <p class="section__subtitle empresas js-section-paragraph"></p>
      <a href="#contact-form" class="button button--section">
        <span class="js-section-button"></span>
        <i class="ri-arrow-right-line"></i>
      </a>
    </div>
    <div class="medical__tests-image">
      <img src="" alt="" class="section-image">
    </div>
  </div>
</section>