<section class="appliances section section-component">

  <div class="service-container section__content grid">
      <div class="tab-image-container">
        <img src="" alt="Optometria laboral" class="section-image" loading="lazy">
      </div>
      <div class="tab-info-container">
        <h2 class="section__subtitle-tabs ips js-section-title"></h2>
        <p class="js-section-paragraph ips"></p>
        <ul class="tab__nav-list ips">
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
        </ul>
        <div class="container-button-ips">
          <a href="" class="button button--services ips">
            <span class="js-section-button"></span>
            <i class="ri-arrow-right-line"></i>
          </a>
        </div>
      </div>
  </div>
</section>









