<section class="reviews ips section section-component">

  <div class="appliaces-container certified-ips section__content grid">
      <div class="tab-info-container certified">
        <h2 class="section__subtitle-tabs ips js-section-title"></h2>
        <p class="js-section-paragraph ips"></p>
        <p class="js-section-paragraph2 ips"></p>
        <!-- <div class="container-button-ips">
          <a href="" class="button button--services ips">
            <span class="js-section-button"></span>
            <i class="ri-arrow-right-line"></i>
          </a>
        </div> -->
      </div>
      <div class="tab-image-container certified">
        <img src="" alt="Certificados especializados para seguridad" class="section-image" loading="lazy">
      </div>
  </div>
</section>