<section class="appliances section section-component">

      <div class="appliaces-container section__content grid">
          <div class="tab-image-container">
            <img src="../assets/images/testimonials/testimonial-why-choose.png" alt="" class="section-image">
          </div>
          <div class="tab-info-container">
            <h2 class="section__subtitle-tabs js-section-title">¿Por qué elegirnos?</h2>
            <p class="js-section-paragraph">10 años de experiencia en salud ocupacional y 98% de satisfacción en nuestros clientes. Más 25,000 Evaluaciones realizadas anualmente.</p>
            <ul class="tab__nav-list">
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Respaldo profesional: </strong>Equipo médico especializado en salud ocupacional</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Tecnología avanzada: </strong>Equipos de última generación para evaluaciones precisas</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Reportes detallados: </strong>Informes completos con recomendaciones específicas</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Atención ágil: </strong>Programación de citas sin largas esperas</span>
              </li>
            </ul>
            <div>
              <a href="" class="button button--services">
                <span class="js-section-button">Contáctanos para saber más</span>
                <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          </div>
      </div>
    </section>