<section class="appliances section section-component">

  <div class="appliaces-container section__content grid">
      <div class="tab-image-container">
        <img src="" alt="" class="section-image">
      </div>
      <div class="tab-info-container">
        <h2 class="section__subtitle-tabs js-section-title"></h2>
        <p class="js-section-paragraph"></p>
        <ul class="tab__nav-list">
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
          <li>
            <i class="ri-checkbox-circle-line"></i>
            <span class="js-section-itemList"></span>
          </li>
        </ul>
        <div>
          <a href="" class="button button--services">
            <span class="js-section-button"></span>
            <i class="ri-arrow-right-line"></i>
          </a>
        </div>
      </div>
  </div>
</section>






