<section class="appliances section section-component">

      <div class="appliaces-container psicologia-ips section__content grid">
          <div class="tab-image-container psicologia">
            <img src="images/testimonials/testimonial-why-choose.webp" alt="Razones para elegirnos" class="section-image" loading="lazy">
          </div>
          <div class="tab-info-container psicologia">
            <h2 class="section__subtitle-tabs ips js-section-title">¿Por qué elegirnos?</h2>
            <p class="js-section-paragraph ips">Con más de 10 años de experiencia en salud ocupacional, contamos con un 98% de satisfacción y realizamos más de 25,000 evaluaciones cada año.</p>
            <ul class="tab__nav-list ips">
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Respaldo profesional: </strong>Contamos con un equipo médico altamente calificado en salud ocupacional.</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Tecnología avanzada: </strong>Usamos equipos de última generación que garantizan resultados precisos.</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Reportes detallados: </strong>Entregamos informes completos con recomendaciones específicas para tu empresa.</span>
              </li>
              <li>
                <i class="ri-checkbox-circle-line"></i>
                <span class="js-section-itemList"><strong>Atención ágil: </strong>Agenda rápida y sin largas esperas para tus colaboradores.</span>
              </li>
            </ul>
            <div class="container-button-ips">
              <a href="/nosotros.html" class="button button--services ips">
                <span class="js-section-button">Más sobre nosotros</span>
                <i class="ri-arrow-right-line"></i>
              </a>
            </div>
          </div>
      </div>
    </section>